@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Bubblegum+Sans&display=swap');

#materi__dom {
    margin: 0;
    padding: 0;
}
.tittle__dom{
    position: static;
    font-size: 90px;
    font-family: 'Black Han Sans', sans-serif;
    line-height: 76px;
    color: #ffffff;
    text-transform: uppercase;
}

.materi__dom{
    font-family: 'Bubblegum Sans', cursive;
    color: #ffffff;
}

.materi__dom h2{
    font-family: 'Black Han Sans', sans-serif;
    color: #ffffff;
}

.changeText{
    text-align: center;
    margin: 0 auto;
    /* background-color: aqua; */
}

.nintendoImg{
    /* background-color: aqua; */
    width: 350px;
    margin: 0 auto;
    text-align: center;
}