@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Bubblegum+Sans&display=swap');

.materi__react{
    margin: 0;
    padding: 0;
}

.tittle__content{
    position: static;
    font-size: 90px;
    font-family: 'Black Han Sans', sans-serif;
    line-height: 76px;
    color: #ffffff;
    text-transform: uppercase;
}

.materi__content{
    font-family: 'Bubblegum Sans', cursive;
    color: #ffffff;
}

.materi__content h2{
    font-family: 'Black Han Sans', sans-serif;
    color: #ffffff;
}

.jumlah__pengunjung{
    margin: 50px auto;
    padding: 0;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(to right, #010631, #6b0030);
}